<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <title></title>
       <link rel="stylesheet" href="/css/app.css">
   </head>
   <body>
       <h1>Students Index page</h1>
       <ul>
           <% for(let i = 0; i < students.length; i++){ %>
               <li>
                   The <a href="/students/<%=students[i]._id%>"><%=students[i].name; %></a>
                   <% } else { %>
                     Nobody
                   <% } %>

                   <form action="/students/<%=students[i]._id%>?_method=DELETE" method="POST">
                     <button type="submit">Delete</button>
                   </form>
               </li>
           <% } %>
       </ul>
       <nav>
           <a href="/students/new">Create a New Student</a>
       </nav>
   </body>
</html>